#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=DuneCity
Name[de_DE]=DuneCity
Icon=dunecity
Icon[de_DE]=dunecity
Comment=A Dune II Clone with City Simulation
Categories=Game;StrategyGame;
Exec=dunecity
